@model LegacyApplication.Web.Models.Account
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6 call-out">
        <div class="row">
            <div class="col-md-12 font-weight-bold">
                <h2>Account Information</h2>
            </div>
            <div class="col-md-6">
                Account Number:
            </div>
            <div class="col-md-6">
                @Html.Raw(Model.AccountNumber)
            </div>
            <div class="col-md-6 font-weight-bold">
                Account Creation Date:
            </div>
            <div class="col-md-6">
                @Html.Raw(Model.CreatedDate.ToShortDateString())
            </div>
        </div>
    </div>
    <div class="col-md-6 call-out">
        <div class="row">
            <div class="col-md-12">
                <h2>Policy Holder Information</h2>
            </div>
            <div class="col-md-6 font-weight-bold">
                Company Name:
            </div>
            <div class="col-md-6">
                @Html.Raw(Model.PolicyHolder.CompanyName)
            </div>
            <div class="col-md-6 font-weight-bold">
                Company Address:
            </div>
            <div class="col-md-6">
                @Html.Raw(Model.PolicyHolder.StreetAddress) <br />
                @Html.Raw((!string.IsNullOrEmpty(Model.PolicyHolder.StreetAddress2) ? Model.PolicyHolder.StreetAddress2.ToString() : ""))
                @Html.Raw(Model.PolicyHolder.City), @Html.Raw(Model.PolicyHolder.State) @Html.Raw(Model.PolicyHolder.Zip)
            </div>
        </div>
    </div>
    <div class="col-md-12 call-out">
        <div class="row">
            <div class="col-md-12 font-weight-bold">
                <h2>Contacts</h2>
            </div>
            <div class="col-md-2 font-weight-bold">
                Company Contact Name
            </div>
            <div class="col-md-2 font-weight-bold">
                Company Contact Phone Number
            </div>
            <div class="col-md-2 font-weight-bold">
                Company Contact Email
            </div>
            <div class="col-md-2 font-weight-bold">
                Company Contact Title
            </div>
            <div class="col-md-2 font-weight-bold">
                Company Contact Address
            </div>
        </div>
        @foreach (var contact in Model.PolicyHolder.Contacts)
        {
            <div class="row">
                <div class="col-md-2 ">
                    @Html.Raw(contact.FirstName) @Html.Raw(contact.LastName)
                </div>
                <div class="col-md-2">
                    @Html.Raw(contact.PhoneNumber)
                </div>
                <div class="col-md-2">
                    @Html.Raw(contact.Email)
                </div>
                <div class="col-md-2">
                    @Html.Raw(contact.Title)
                </div>
                <div class="col-md-2">
                    @Html.Raw(contact.StreetAddress) <br />
                    @Html.Raw((!string.IsNullOrEmpty(contact.StreetAddress2) ? contact.StreetAddress2.ToString() : ""))
                    @Html.Raw(contact.City), @Html.Raw(contact.State) @Html.Raw(contact.Zip)
                </div>
            </div>
        }
    </div>
    <div class="col-md-12 call-out">
        <h2>Policies</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Policy Type</th>
                    <th scope="col">Policy Number</th>
                    <th scope="col">Renewal Number</th>
                    <th scope="col">Endorsement Number</th>
                    <th scope="col">Effective Date</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var policy in Model.Policies)
                {
                    <tr>
                        <th scope="row">@Html.Raw(policy.PolicyType)</th>
                        <td scope="row">@Html.Raw(policy.PolicyNumber)</td>
                        <td scope="row">@Html.Raw(policy.RenewalNumber)</td>
                        <td scope="row">@Html.Raw(policy.EndorsementNumber)</td>
                        <td scope="row">@Html.Raw(policy.EffectiveDate.ToShortDateString())</td>
                        <td scope="row">@Html.Raw(policy.ExpirationDate.ToShortDateString())</td>
                        <td scope="row">@Html.Raw(policy.Cost.ToString("C"))</td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>